<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <title>Listar Pessoas</title>
</head>
<body>
    <h1>Óla mundo!</h1>
    {% for pessoa in pessoas %}
        {{pessoas.nome}}
    {% endfor %}
</body>
</html>